body {
      margin:100px auto;
      width: 75%;
      background:
      border:4px solid Rgb(30,255,252);
      }

  .title{
          margin:40px;
          font-family:'Palotino';
          text-align: center;
          line-height 1.5em;
          border: 5px groove Hsl(83%,73%,56%);
          }

 .background{
              margin 20px;
              font-family:'futura';
              text-align:left;
              line-height 1.5em;
              border: 5px ridge Rgb(175,4,255);
            }
            
                   
      
navl ul, footer ul{
       font-family: 'Helvetica','arial','sans-Serif';
       padding: 0px;       list-style: none;
       font-weigth: bold;
       na vul li, footer ul li {
           display: inline;
           margin-right: 20px;
             text-align: left;
             color: Rgb(175,4,255);
           }
           a {
    text-decoration: none;    color: #999;
       text-align: left;
       font-family: 'Verdana';
    }
    
  a:hover {
          text-decoration: underline;
        text-align: left;
          }
          
    h1 {
        font-size: 3em;
        font-family:'Helvetic', 'Arial','Sans-Serif';
         text-align: center; 
        }
        
     p {
     font-size: 1.5em;
     line-height: 1.4em;
     color: #333;
     text-align: left;
     letter-spacing:2px;
           
     }
     
     footer {
             border-top: 1px solid #d5d5d5;
             font-size: .8em;
           text-align: right;
           color: Rgb(255,4,100);
             }
             
        ul.posts {
                  margin: 20px auto 40px;
                  font-size: 1.5em;
              text-align: right;
                  }
                  
         ul.posts li  {
         list-style: none;
               text-align: right;
               margin: 10px;
               font-family: 'Raleway';
         }
                       
             .patrons {
                   margin:10px auto 30px;
                   font-family:'Raleway';
                   line-height: 1.5em;
                   text-align:right;
      }
                  
             .random {
                   margin: 15px auto 40px;
                   font-family:'Tahoma';
                   color:Rgb(111,183,243);
                   text-align:right;
      }
      
     
            
          
                  
          
                   
                   
                   
                   
                   
                   
                   
                   
                   
                   
                   
                   
                   
                   
                   
                   
                   
                   
                   
                   
