body {
      margin:100px auto;
      width: 75%;
      border: 2px solid Hsl(0%, 116%, 255%);
      text-align: center;
      background color: #FEC801;
      }

  .title{
          margin:40px;
          font-family:'Palotino';
          text-align: center;
          line-height 1.5em;
          border: 5px groove Hsl(0%, 116%, 255%);
          background-image:url(https"http://www.allsaintsnorman.org/templates/default/images/home1.jpg");
             height: 400px;
            background-position: bottom center;
        
            
          }

 .background{
              margin 20px;
              font-family:'futura';
              text-align:left;
              line-height 1.5em;
              border: 5px ridge Rgb(0, 116, 255);
        background color: #FEC801;
      
            }

 .patrons {
                   margin:10px auto 30px;
                   font-family:'Raleway';
                   line-height: 1.5em;
                   text-align:center;
                   margin:15px;
                   color: HSL(0%, 116%, 255%);
                  border: 1px groove #AF601A;
        background color: #FEC801;
                         
      }

       
             .random {
                   margin: 15px auto 40px;
                   font-family:'Tahoma';
                   color:Rgb(111,183,243);
                   text-align:center;
                    background color: #FEC801;
      }
            
                   
      
navl ul, footer ul{
       font-family: 'Helvetica','arial','sans-Serif';
       padding: 0px; 
      list-style: none;
      font-weight: bold;
       background color: #FEC801;
}

       na vul li, footer ul li {
           display: inline;
           margin-right: 20px;
             text-align: left;
             color: Rgb(175,4,255);
           }

           a {
    text-decoration: none;
       color: #999;
       text-align: left;
       font-family: 'Verdana';
                  background color: #FEC801;
    }
    
  a:hover {
          text-decoration: underline;
        text-align: left;
         background color: #FEC801;
          }
          
    h1 {
        font-size: 3em;
        font-family:'Helvetic', 'Arial','Sans-Serif';
         text-align: center; 
           background color: #FEC801;
        }
        
     p {
     font-size: 1.5em;
     line-height: 1.4em;
     color: #333;
     text-align: left;
     letter-spacing:2px;
            background color: #FEC801;
           
     }
     
     footer {
             border-top: 1px solid #d5d5d5;
             font-size: .8em;
           text-align: right;
           color: Rgb(255,4,100);
            background color: #FEC801;
             }
             
        ul.posts {
                  margin: 20px auto 40px;
                  font-size: 1.5em;
              text-align: right;
               background color: #FEC801;
                  }
                  
         ul.posts li  {
         list-style: none;
               text-align: right;
               margin: 10px;
               font-family: 'Raleway';
                background color: #FEC801;
         }
                       
           
                  
             
      
     
            
          
                  
          
                   
                   
                   
                   
                   
                   
                   
                   
                   
                   
                   
                   
                   
                   
                   
                   
                   
                   
                   
                   
